*.o
*.elf
*.a
*.asm
*.map
*.script
output/
dump-token
*.log
wh_bsp/include/mmu.h

wh_bsp/env/LS_Board/Start-WH/dcache.lds
wh_bsp/env/LS_Board/Start-WH/dhrystone.lds
wh_bsp/env/LS_Board/Start-WH/flash.lds
wh_bsp/env/LS_Board/Start-WH/link.lds
wh_bsp/env/LS_Board/Start-WH/start.S
wh_bsp/env/LS_Board/Start-WH/trap_entry.S

wh_bsp/env/LS_Board/WH32_DDR/dcache.lds
wh_bsp/env/LS_Board/WH32_DDR/dhrystone.lds
wh_bsp/env/LS_Board/WH32_DDR/flash.lds
wh_bsp/env/LS_Board/WH32_DDR/link.lds
wh_bsp/env/LS_Board/WH32_DDR/start.S
wh_bsp/env/LS_Board/WH32_DDR/trap_entry.S

wh_bsp/env/LS_Board/WH64_DDR/dcache.lds
wh_bsp/env/LS_Board/WH64_DDR/dhrystone.lds
wh_bsp/env/LS_Board/WH64_DDR/flash.lds
wh_bsp/env/LS_Board/WH64_DDR/link.lds
wh_bsp/env/LS_Board/WH64_DDR/start.S
wh_bsp/env/LS_Board/WH64_DDR/trap_entry.S

wh_bsp/env/LS_Board/spike/dcache.lds
wh_bsp/env/LS_Board/spike/dhrystone.lds
wh_bsp/env/LS_Board/spike/flash.lds
wh_bsp/env/LS_Board/spike/link.lds
wh_bsp/env/LS_Board/spike/start.S
wh_bsp/env/LS_Board/spike/trap_entry.S


